.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.todo-title {
  font-family: 'Roboto';
  font-size: 16px;
  color: #000000;
}

.delete-button {
  background-color: transparent;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
}
