/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  text-align: center;
}
.heading {
  color: #ff8542;
}
.card-container {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}
