/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  padding: 24px;
  border-radius: 12px;
}

.heading {
  color: #ff8542;
  text-align: center;
}

